@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Uw nerd staat bijna altijd voor u klaar.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr/>

<h5><strong>Jelle Schräder</strong></h5>
<address>
    <strong>Support:</strong>   <a href="mailto:jelleschrader@gmail.com">jelleschrader@gmail.com</a><br />
</address>